@{
    ViewBag.Title = "Coliche Gassose App";
}

<div class="row">
    <div id="phone-container">
        <div id="carousel-container">
            <div id="carousel-app-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Images/Screenshots/screenshot1.PNG" alt="App screeshot 1">
                        <div class="carousel-caption">
                            La prima applicazione specifica per gestire le coliche gassose dei bambini
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/Screenshots/screenshot2.PNG" alt="App screeshot 2">
                    </div>
                    <div class="item">
                        <img src="~/Images/Screenshots/screenshot3.PNG" alt="App screeshot 3">
                        <div class="carousel-caption black ">
                            Il calendario per una visualizzazione rapida
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/Screenshots/screenshot4.PNG" alt="App screeshot 4">
                        <div class="carousel-caption black ">
                            Tutta la documentazione subito a portata di mano
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/Screenshots/screenshot5.PNG" alt="App screeshot 5">
                        <div class="carousel-caption black ">
                            Le pratiche guide per sapere cosa fare e cosa non fare
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/Screenshots/screenshot6.PNG" alt="App screeshot 6">
                    </div>
                    <div class="item">
                        <img src="~/Images/Screenshots/screenshot7.PNG" alt="App screeshot 7">
                    </div>
                    <div class="item">
                        <img src="~/Images/Screenshots/screenshot8.PNG" alt="App screeshot 8">
                        <div class="carousel-caption black ">
                            Tiene sotto controllo i sintomi aggiungendoli allo storico
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/Screenshots/screenshot9.PNG" alt="App screeshot 9">
                        <div class="carousel-caption black ">
                            Annota i rimedi adottati e crea dei pratici reminder che ti avvertiranno con degli avvisi
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/Screenshots/screenshot10.PNG" alt="App screeshot 10">
                        <div class="carousel-caption black ">
                            Aggiungi gli appuntamento medici al calendario per ricevere un avviso il giorno della visita
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="phone"></div>
    </div>
</div>