div#loginbox .panel{
    box-shadow: 1px 0px 20px rgba(118, 118, 118, 0.25);
}

div#statitistics-container {
    
}

img.menu-icon {
    width: 25px;
    float: right;
}

img.intensity-icon {
    margin-right: 5px;
    width: 25px;
}

span#logout-icon {
    font-size: 16px;
    margin-right: 3px;
}

ul.line-legend,
ul.doughnut-legend {
    list-style: none;
    padding: 10px;
}

.line-legend span,
.doughnut-legend span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
}