@{
    ViewBag.Title = "Coliche Gassose Statistiche";
}

<!-- ko with: statistics -->

<div id="statitistics-container" class="container">
    <div class="page-header">
        <h1 data-bind="html: pageTitle"></h1>
    </div>
    <div class="col-xs-3">
        <div class="list-group">
            <a href="#sintomi" class="list-group-item" data-bind="css:{active:currentPage() === pages.Sintomi}, click: setCurrentPage.bind($data, pages.Sintomi)">
                Statistiche Sintomi
                <img class="menu-icon" src="~/Images/icon-sintomo.png" alt="icona sintomo" />
            </a>
            <a href="#rimedi" class="list-group-item" data-bind="css:{active:currentPage() === pages.Rimedi}, click: setCurrentPage.bind($data, pages.Rimedi)">
                Statistiche Rimedi
                <img class="menu-icon" src="~/Images/icon-rimedi2.png" alt="icona rimedi" />
            </a>
            <a href="#appuntamenti" class="list-group-item" data-bind="css:{active:currentPage() === pages.Appuntamenti}, click: setCurrentPage.bind($data, pages.Appuntamenti)">
                Statistiche Appuntamenti
                <img class="menu-icon" src="~/Images/icon-visita.png" alt="icona appuntamenti" />
            </a>
            <a href="#utenti" class="list-group-item" data-bind="css:{active:currentPage() === pages.Utenti}, click: setCurrentPage.bind($data, pages.Utenti)">
                Statistiche Utenti
                <img class="menu-icon" src="~/Images/icon-utenti.png" alt="icona utenti" />
            </a>
            <a href="#app" class="list-group-item" data-bind="css:{active:currentPage() === pages.App}, click: setCurrentPage.bind($data, pages.App)">
                Statistiche App
                <img class="menu-icon" src="~/Images/icon-app.png" alt="icona app" />
            </a>
        </div>
    </div>
    <div class="col-xs-9">
        <!-- ko if: currentPage() === pages.Sintomi -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">STATISTICHE SINTOMI</h1>
            </div>
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">I dati visualizzati sono anonimi e strettamente confidenziali</div>
        </div>
        <!-- /ko -->
        <!-- ko if: currentPage() === pages.Rimedi -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">STATISTICHE RIMEDI</h1>
            </div>
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">I dati visualizzati sono anonimi e strettamente confidenziali</div>
        </div>
        <!-- /ko -->
        <!-- ko if: currentPage() === pages.Appuntamenti -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">STATISTICHE APPUNTAMENTI</h1>
            </div>
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">I dati visualizzati sono anonimi e strettamente confidenziali</div>
        </div>
        <!-- /ko -->
        <!-- ko if: currentPage() === pages.Utenti -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">STATISTICHE UTENTI</h1>
            </div>
            <div class="panel-body">
                <div class="page-header">
                    <h4>Dati generali di utilizzo</h4>
                </div>
                <dl class="dl-horizontal">
                    <dt>Utenti attivi oggi</dt>
                    <dd data-bind="text: todayAccesses"></dd>
                    <dt>Utenti attivi mese</dt>
                    <dd data-bind="text: monthAccesses"></dd>
                    <dt>Utenti totali registrati</dt>
                    <dd data-bind="text: totalUsers"></dd>
                </dl>
                <div class="page-header">
                    <h4>Grafico degli utenti unici attivi per mese</h4>
                </div>
                <div class="canvas-container">
                    <canvas id="chart-utenti-utilizzo"></canvas>
                </div>
                <div class="page-header">
                    <h4>Grafico delle nuove registrazione per mese</h4>
                </div>
                <div class="canvas-container">
                    <canvas id="chart-utenti-registrazioni"></canvas>
                </div>
                <div class="page-header">
                    <h4>Grafico degli utenti totali</h4>
                </div>
                <div class="canvas-container">
                    <canvas id="chart-utenti-totali"></canvas>
                </div>
            </div>
            <div class="panel-footer">I dati visualizzati sono anonimi e strettamente confidenziali</div>
        </div>
        <!-- /ko -->
        <!-- ko if: currentPage() === pages.App -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">STATISTICHE APP</h1>
            </div>
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">I dati visualizzati sono anonimi e strettamente confidenziali</div>
        </div>
        <!-- /ko -->
    </div>
</div>

<!-- /ko -->